<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Title</title>
    <script src="https://cdn.tailwindcss.com"></script>


</head>
<body class="bg-gray-900 h-screen items-center flex justify-center" >
<form th:action="@{auth}" method="post"  class="flex gap-24">
    <div class="text-white max-w-80 text-7xl flex items-center">
        church agenda</div>

    <div class="space-y-5 bg-zinc-950 roudend-md p-14" id="container">

        <p style="font-family: monospace;" class= "text-white">Nome de usuário:
            <input type="text" name="email"
                   class="bg=gray-500 text-gray-900 text-xd rounded w-96 block p-3 focus:outline-none focus:ring-green-600 focus:ring-2"
                   placeholder=" Usuário"></p>

        <p class="text-white">Senha: <input type="password" name="password"  placeholder=" Senha"
                                            class="bg=gray-500 text-gray-900 text-xd rounded w-96 block p-3 focus:outline-none focus:ring-green-600 focus:ring-2"></p>

        <button class="bg-green-900 w-96 p-4 roudend text-white hover:bg-green-700">Entrar</button>
        <a th:href="@{cadastrarPage}" class="block text-green-700  text-center underline underline-offset-2">Cadastre-se</a>
    </div>

</form>

</body>
</html>>